@using Gitpilot.Components.SvgGraphPart
@using Gitpilot.Helpers
@using Gitpilot.Models
@using Gitpilot.Models.ViewModels
@using Gitpilot.Queues
@using Gitpilot.Services.Interfaces
@using Newtonsoft.Json
@inject IServiceProvider serviceProvider
@inject IGitRepositoryService gitRepositoryService
@inject IJSRuntime JS
@inject MessageQueue messageQueue

<div class="container">
    <table class="commit-time-line-table">
        <tr class="commit-time-line-header-row">
            <th class="branch-header">BRANCH / TAG</th>
            <th class="graph-header">GRAPH</th>
            <th class="commit-header">COMMIT MESSAGE</th>
        </tr>
        @foreach(var commit in GitRepository.Commits)
        {
            <tr class="commit-time-line-body-row">
                <td class="commit-time-line-body-branch-td"><div class="commit-time-line-body-branch" style="background-color: @(_gitBranchViewModels.FirstOrDefault(g => g.BranchName.EndsWith(commit.BranchName))?.RgbColor ?? "")"> <span class="commit-time-line-body-branch-name">@commit.BranchName</span> </div> </td>
                <td class="commit-time-line-body-graph" >
                    <svg height="26px" >
                        @if(IsTopCommit(commit, out var fistGitBranchViewModel)){
                            <SvgFillGuider LineIndex="@(_gitBranchViewModels.IndexOf(fistGitBranchViewModel)+1)" RgbColor="@fistGitBranchViewModel.RgbColor" />
                            if (commit.IsAMergeCommit)
                            {
                                GetMergeFromGitBranchViewModel(commit, out var firstMergeFromGitBranchViewModel);
                                <SvgTopMergeFrom 
                                LineIndex="@(_gitBranchViewModels.IndexOf(fistGitBranchViewModel)+1)" 
                                RgbColor="@fistGitBranchViewModel.RgbColor"
                                FromLineIndex="@(_gitBranchViewModels.IndexOf(firstMergeFromGitBranchViewModel)+1)"
                                FromRgbColor="@(firstMergeFromGitBranchViewModel.RgbColor)"
                                />
                            }
                            else
                            {
                                <SvgTopCommit LineIndex="@(_gitBranchViewModels.IndexOf(fistGitBranchViewModel)+1)" RgbColor="@fistGitBranchViewModel.RgbColor" />
                            }
                        }
                        else{
                            GetGitBranchViewModel(commit, out var gitBranchViewModel);
                            <SvgFillGuider LineIndex="@(_gitBranchViewModels.IndexOf(gitBranchViewModel)+1)" RgbColor="@gitBranchViewModel.RgbColor" />
                            if (commit.IsAMergeCommit)
                            {
                                GetMergeFromGitBranchViewModel(commit, out var mergeFromGitBranchViewModel);
                                <SvgMergeFrom 
                                LineIndex="@(_gitBranchViewModels.IndexOf(gitBranchViewModel)+1)"
                                RgbColor="@gitBranchViewModel.RgbColor"
                                FromLineIndex="@(_gitBranchViewModels.IndexOf(mergeFromGitBranchViewModel)+1)"
                                FromRgbColor="@(mergeFromGitBranchViewModel.RgbColor)"
                                />
                            }
                            else
                            {

                                <SvgCommit LineIndex="@(_gitBranchViewModels.IndexOf(gitBranchViewModel)+1)" RgbColor="@gitBranchViewModel.RgbColor" />
                            }

                        }
                        @{
                            var otherBranches = _gitBranchViewModels.Where(g => g.BranchName != commit.BranchName).ToList();
                            foreach (var otherBranch in otherBranches){
                                if (IsDrawThisOtherBranchLine(otherBranch, commit))
                                {
                                    <SvgBranchLine LineIndex="@(_gitBranchViewModels.IndexOf(otherBranch)+1)" RgbColor="@otherBranch.RgbColor"/>
                                }
                            }
                        }
                    </svg>
                </td>
                @{
                    GetGitBranchViewModel(commit, out var gitBranchViewModelForLeftBorder);
                    <td style="border-left: 2px solid @gitBranchViewModelForLeftBorder.RgbColor"><span class="commit-time-line-body-commit-message">@commit.Message</span></td>
                }
            </tr>
        }
    </table>
</div>

<script>
    window.logToConsole = (message) => {
    console.log(message);
    };
</script>

@code {
    [Parameter] public GitRepository GitRepository { get; set; }
    private List<GitBranchViewModel> _gitBranchViewModels = new List<GitBranchViewModel>();

    protected override async Task OnInitializedAsync()
    {
        Task.Run(() => GetCommits());
    }

    public async Task GetCommits()
    {
        using (var loading = serviceProvider.GetRequiredService<Func<string, OnLoading>>()("Loading git-graph data"))
        {
            if (GitRepository.Commits.Count > 0) 
                return;
            while (GitRepository.LibGitRepository == null)
            {
                await Task.Delay(TimeSpan.FromSeconds(0.5));
            }
            GitRepository.Commits = gitRepositoryService.GetCommits(GitRepository.LibGitRepository);
            await this.InvokeAsync(this.StateHasChanged);
        }
    }

    private bool IsTopCommit(GitCommit commit, out GitBranchViewModel gitBranchViewModel)
    {
        var isRigestered = _gitBranchViewModels.Any(g => g.BranchName.Equals(commit.BranchName, StringComparison.OrdinalIgnoreCase));
        if (!isRigestered)
        {
            _gitBranchViewModels.Add(new GitBranchViewModel
                {
                    BranchName = commit.BranchName
                });
        }

        gitBranchViewModel = _gitBranchViewModels.FirstOrDefault(g => g.BranchName.Equals(commit.BranchName, StringComparison.OrdinalIgnoreCase));
        return GitRepository.Commits.Where(c => c.BranchName.Equals(commit.BranchName, StringComparison.OrdinalIgnoreCase)).FirstOrDefault().Hash == commit.Hash;
    }
    private void GetGitBranchViewModel(GitCommit commit, out GitBranchViewModel gitBranchViewModel)
    {
        IsTopCommit(commit, out var gitBranchViewModel1);
        gitBranchViewModel = _gitBranchViewModels.FirstOrDefault(g => g.BranchName.Equals(commit.BranchName, StringComparison.OrdinalIgnoreCase));
    }
    private bool IsDrawThisOtherBranchLine(GitBranchViewModel otherBranchViewModel, GitCommit currentCommit)
    {
        return currentCommit.CommitTime <= GitRepository.Commits.FirstOrDefault(g => g.BranchName == otherBranchViewModel.BranchName)?.CommitTime;
    }
    private void GetMergeFromGitBranchViewModel(GitCommit commit, out GitBranchViewModel gitBranchViewModel)
    {
        var fromCommit = GitRepository.Commits.FirstOrDefault(c => c.Hash.Equals(commit.MergeFrom)) ?? commit;
        IsTopCommit(fromCommit, out var gitBranchViewModel1);
        gitBranchViewModel = _gitBranchViewModels.FirstOrDefault(g => g.BranchName.Equals(fromCommit.BranchName));
    }
}
